.contenido-anuncio{
    background-image: url(../multimedia/img/fondo-contacto.jpg);
    transition: 2s;
      .anuncio {
          color: $color-violeta;
          font-weight: bold;
          font-size: ($font-tamanio/2)-15;
      }
  }