.navbar-nav{
  a {
    font-family: $font;
    font-weight: $grosor-letra;
    color: $color-blanco;
      &:hover{
          color: $color-violeta;
          text-shadow: $sombra;
      }
  }
}
  .navbar div button{
    color: $color-blanco;
  }