.fondo{
    background-image: url(../multimedia/img/fondo-contacto.jpg);
      .clientas {
          color: $color-violeta;
          font-weight: $grosor-letra;
          font-size: ($font-tamanio)-20;
      }
  }