@media (max-width: 810px) {
    .contacto {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    .portada-preguntas {
        h1 {
        font-size: ($font-tamanio)-20;
      }
    }
    .contacto{
        .form-contactos {
        grid-template-columns: 1fr;
        grid-template-areas: "consulta" 
                            " nombre" 
                            "apellido"
                            "telefono" 
                            "email" 
                            "mensaje" 
                            "boton1" 
                            "boton2";
        }
    }

}