.pie-de-pagina {
    @include size(100%,150px);
    @include mp(0,20px);
    @include color($bg-rosa,$color-blanco);
      .redes {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .redsocial {
              width: 50px;
              @include mp(0px 20px,0);
          }
          .redsocial-dos {
              width: 45px;
            } 
      }
      p {
          text-align: center;
          margin-top: 20px;
      }  
  }

  @media (max-width: 500px) {
    .pie-de-pagina{
        .redes{
            .redsocial {
            width: 40px;
            @include mp(0px 20px,0);
            }
            .redsocial-dos {
            width: 35px;
            @include mp(0px 20px,0);
            }
        }
    }
}