.portada-inicio {
    background-image: url(../multimedia/img/portada.png);
    @extend %bg;
      .portada-titulo{
          h1 {
            @extend %size;
            text-shadow: $sombra-portada;
          }
          h2 {
              font-size: $font-tamanio/2;
          }
      }
      .portada-subtitulo{
          h3 {
              font-size: ($font-tamanio/2)-10;
          }
          button {
              border: none;
              border-radius: 10px;
              @include color($bg-rosa,$color-violeta);
              font-size:  ($font-tamanio/2)-15;
              font-weight: $grosor-letra;
              transition: 0.5s;
              &:hover {
                  @include color($bg-violeta,$color-rosa);
              }
          }
  
      }
  }
