.accordion {
    border-radius: 0px;
    border: $bg-violeta solid 1px;
    width: 50%;
    margin: 10px auto;
      .accordion-item {
          background-color: $bg-rosa;
          div .accordion-body{
            font-size: ($font-tamanio/2)-10;
            color: $color-violeta;
            font-weight: ($grosor-letra)-300;
          }
          .accordion-header{
              .accordion-button {
                  background-color: $bg-violeta;
                  color: $color-blanco;
                  font-size: ($font-tamanio/2)-5;
                  font-weight: ($grosor-letra)-100;
                  border: $bg-violeta solid 1px;
              }
          }
      }
}
@media (max-width:700px){
    .accordion{
        width: 100%;
    }
}