.card {
    @extend %bordes;
    @extend %sombra-cajas;
      .card-body {
          color: $color-violeta;
              .card-title {
                  font-size: ($font-tamanio/2)-10;
                  font-weight: ($grosor-letra)-100;
              }
              .card-text {
                  font-size: ($font-tamanio/2)-19;
              }
      }
  }
